<header class="bg-white shadow-lg border-b border-gray-700 relative z-50">
  <nav class="container mx-auto px-6 py-4">
    <div class="flex justify-between items-center">
      <!-- Logo and Brand Name -->
      <a class="flex items-center space-x-2" routerLink="home">
        <div class="h-16 w-16">
          <img
            src="logo.jpg"
            alt="ShopLogo"
            class="w-full h-full object-contain"
          />
        </div>
        <span class="text-xl font-bold text-black font-serif"
          >SADHGURU TILES &amp; MARBLES</span
        >
      </a>

      <!-- Desktop Navigation Links -->
      <div class="hidden md:flex space-x-8">
        <a routerLink="home" class="text-gray-800 hover:text-blue-400">Home</a>
        <a routerLink="product" class="text-gray-800 hover:text-blue-400"
          >Products</a
        >
        <a routerLink="about" class="text-gray-800 hover:text-blue-400"
          >About Us</a
        >
        <a routerLink="contact" class="text-gray-800 hover:text-blue-400"
          >Contact Us</a
        >
        <a routerLink="career" class="text-gray-800 hover:text-blue-400"
          >Career</a
        >
        <a routerLink="login" class="text-gray-800 hover:text-blue-400"
          >Login</a
        >
        <a routerLink="signup" class="text-gray-800 hover:text-blue-400"
          >SignUp</a
        >
      </div>

      <!-- Mobile Menu Button -->
      <button
        class="md:hidden text-gray-800"
        aria-label="Toggle menu"
        (click)="toggleMobileMenu()"
      >
        <!-- Show hamburger icon if menu is closed, and X icon if menu is open -->
        @if(!isMobileMenuOpen){

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-menu h-6 w-6"
        >
          <path d="M3 12h18M3 6h18M3 18h18"></path>
        </svg>
        }@else{
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-x h-6 w-6"
        >
          <path d="M6 18L18 6M6 6l12 12"></path>
        </svg>
        }
      </button>
    </div>

    <!-- Mobile Menu Links -->
    <div
      [ngClass]="{ block: isMobileMenuOpen, hidden: !isMobileMenuOpen }"
      class="md:hidden mt-4 space-y-4 bg-gray-100 p-4"
    >
      <a routerLink="home" class="block text-gray-800 hover:text-blue-400"
        >Home</a
      >
      <a routerLink="product" class="block text-gray-800 hover:text-blue-400"
        >Products</a
      >
      <a routerLink="about" class="block text-gray-800 hover:text-blue-400"
        >About Us</a
      >
      <a routerLink="contact" class="block text-gray-800 hover:text-blue-400"
        >Contact Us</a
      >
      <a routerLink="career" class="block text-gray-800 hover:text-blue-400"
        >Career</a
      >
      <a routerLink="login" class="block text-gray-800 hover:text-blue-400"
        >Login</a
      >
      <a routerLink="signup" class="block text-gray-800 hover:text-blue-400"
        >SignUp</a
      >
    </div>
  </nav>
</header>
